[submodule "Finding"]
	path = Finding
	url = https://github.com/sarang628/Finding.git
[submodule "TravelMode"]
	path = TravelMode
	url = https://github.com/sarang628/TravelMode
[submodule "Filter"]
	path = Filter
	url = https://github.com/sarang628/Filter
[submodule "Map"]
	path = Map
	url = https://github.com/sarang628/Map.git
[submodule "TorangCore"]
	path = TorangCore
	url = https://github.com/sarang628/TorangCore.git
[submodule "Repository"]
	path = Repository
	url = https://github.com/sarang628/Repository.git
[submodule "TorangLocationService"]
	path = TorangLocationService
	url = https://github.com/sarang628/TorangLocationService.git
[submodule "TorangImageLoader"]
	path = TorangImageLoader
	url = https://github.com/sarang628/TorangImageLoader.git
[submodule "Search"]
	path = Search
	url = https://github.com/sarang628/Search.git
[submodule "CardInfo"]
	path = CardInfo
	url = https://github.com/sarang628/CardInfo.git
