[submodule "Finding"]
	path = Finding
	url = https://github.com/sarang628/Finding.git
[submodule "TravelMode"]
	path = TravelMode
	url = https://github.com/sarang628/TravelMode
[submodule "Filter"]
	path = Filter
	url = https://github.com/sarang628/Filter
[submodule "Map"]
	path = Map
	url = https://github.com/sarang628/Map.git
[submodule "FindingScreenTestApp"]
	path = FindingScreenTestApp
	url = https://github.com/sarang628/FindingScreenTestApp.git
[submodule "TorangCore"]
	path = TorangCore
	url = https://github.com/sarang628/TorangCore.git
